{% load static %}
 <!-- End Header Top  -->
{% for setting in settings %}
<div class="rbt-header-wrapper header-space-betwween header-sticky">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center">
            <div class="header-left rbt-header-content">
                <div class="header-info">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{{setting.logo.url}}" alt="Education Logo Images">
                        </a>
                    </div>
                </div>
                <div class="header-info">
                    <div class="rbt-category-menu-wrapper">
                        <div class="rbt-category-btn rbt-side-offcanvas-activation">
                            <div class="rbt-offcanvas-trigger md-size icon">
                                <span class="d-none d-xl-block">
                            <i class="feather-grid"></i>
                        </span>
                                <i title="Category" class="feather-grid d-block d-xl-none"></i>
                            </div>
                            <span class="category-text d-none d-xl-block">Category</span>
                        </div>

                        <div class="category-dropdown-menu d-none d-xl-block">
                            <div class="category-menu-item">
                                <div class="rbt-vertical-nav">
                                    <ul class="rbt-vertical-nav-list-wrapper vertical-nav-menu">
                                        {% for category in categories %}
                                        <li class="vertical-nav-item">
                                            <a href="{% url 'read-cat' category.id %}"><i class="{{category.icon}}"></i> {{category.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rbt-main-navigation d-none d-xl-block">
                <nav class="mainmenu-nav onepagenav">
                    <ul class="mainmenu">
                        <li {% if '/' == request.path %} class="current" {% else %} {% endif %}>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li {% if 'courses' in request.path %} class="current" {% else %} {% endif %}>
                            <a href="{% url 'courses' %}">Courses</a>
                        </li>
                        <li>
                            <a href="{% url 'my-courses' %}">My Courses</a>
                        </li>
                        <li {% if 'contact' in request.path %} class="current" {% else %} {% endif %}>
                            <a href="{% url 'contact' %}">Contact Us</a>
                        </li>
                        <li {% if 'instructor' in request.path %} class="current" {% else %} {% endif %}>
                            <a href="{% url 'instructor' %}">Instructor</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <li class="header-right">

                <!-- Navbar Icons -->
                <ul class="quick-access">
                    <li class="access-icon">
                        <a class="search-trigger-active rbt-round-btn" href="#">
                            <i class="feather-search"></i>
                        </a>
                    </li>
<!--                            <li class="access-icon rbt-mini-cart">-->
<!--                                <a class="rbt-cart-sidenav-activation rbt-round-btn" href="#">-->
<!--                                    <i class="feather-shopping-cart"></i>-->
<!--                                    <span class="rbt-cart-count">4</span>-->
<!--                                </a>-->
<!--                            </li>&nbsp;&nbsp;-->
                    {% if user.is_authenticated %}
                    {% else %}
                    <li>
                        <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none" href="{% url 'login' %}">
                            <span data-text="Login">Login</span>
                        </a>
                    </li>&nbsp;
                    {% endif %}


                    {% if user.is_authenticated %}
                    <li class="account-access rbt-user-wrapper d-none d-xl-block">
                        <a href="#"><i class="feather-user"></i>{{user.username}}</a>
                        <div class="rbt-user-menu-list-wrapper">
                            <div class="inner">
                                <div class="rbt-admin-profile">
                                    <div class="admin-thumbnail">
                                        {% if user.user_image %}
                                        <img src="{{user.user_image.url}}" alt="User Images">
                                        {% else %}
                                        <img src="/media/users/user.png" alt="User Images">

                                        {% endif %}
                                    </div>
                                    <div class="admin-info">
                                        <span class="name">{{user.first_name}} {{user.last_name}}</span>
                                        <a class="rbt-btn-link color-primary" href="{% url 'profile' %}">View Profile</a>
                                    </div>
                                </div>
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="{% url 'dashboard' %}">
                                            <i class="feather-home"></i>
                                            <span>My Dashboard</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'student-details' %}">
                                            <i class="feather-home"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'my-courses' %}">
                                            <i class="feather-shopping-bag"></i>
                                            <span>Enrolled Courses</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'my-reviews' %}">
                                            <i class="feather-star"></i>
                                            <span>Reviews</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr class="mt--10 mb--10">
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="{% url 'profile' %}">
                                            <i class="feather-settings"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                     <li>
                                        <a href="javascript:{document.getElementById('logout').submit()}">
                                            <i class="feather-log-out"></i>
                                            <span>Logout</span>
                                        </a>
                                        <form action="{% url 'logout' %}" method="POST" id="logout">
                                            {% csrf_token %}
                                            <input type="hidden">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% else %}

                    {% endif %}

                    {% if user.is_authenticated %}

                    <li class="access-icon rbt-user-wrapper d-block d-xl-none">
                        <a class="rbt-round-btn" href="#"><i class="feather-user"></i></a>
                        <div class="rbt-user-menu-list-wrapper">
                            <div class="inner">
                                <div class="rbt-admin-profile">
                                    <div class="admin-thumbnail">
                                        <img src="{% static 'assets/images/team/avatar.jpg' %}" alt="User Images">
                                    </div>
                                    <div class="admin-info">
                                        <span class="name">Nipa Bali</span>
                                        <a class="rbt-btn-link color-primary" href="profile.html">View Profile</a>
                                    </div>
                                </div>
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="instructor-dashboard.html">
                                            <i class="feather-home"></i>
                                            <span>My Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather-bookmark"></i>
                                            <span>Bookmark</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-enrolled-courses.html">
                                            <i class="feather-shopping-bag"></i>
                                            <span>Enrolled Courses</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-wishlist.html">
                                            <i class="feather-heart"></i>
                                            <span>Wishlist</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-reviews.html">
                                            <i class="feather-star"></i>
                                            <span>Reviews</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-my-quiz-attempts.html">
                                            <i class="feather-list"></i>
                                            <span>My Quiz Attempts</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-order-history.html">
                                            <i class="feather-clock"></i>
                                            <span>Order History</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="instructor-quiz-attempts.html">
                                            <i class="feather-message-square"></i>
                                            <span>Question & Answer</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr class="mt--10 mb--10">
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="#">
                                            <i class="feather-book-open"></i>
                                            <span>Getting Started</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr class="mt--10 mb--10">
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="instructor-settings.html">
                                            <i class="feather-settings"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:{document.getElementById('logout').submit()}">
                                            <i class="feather-log-out"></i>
                                            <span>Logout</span>
                                        </a>
                                        <form action="{% url 'logout' %}" method="POST" id="logout">
                                            {% csrf_token %}
                                            <input type="hidden">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% else %}

                    {% endif %}

                </ul>

<!--                <div class="rbt-btn-wrapper d-none d-xl-block">-->
                    <a class="rbt-btn rbt-marquee-btn marquee-auto btn-border-gradient radius-round btn-sm hover-transform-none" href="{% url 'courses' %}">
                        <span data-text="Enroll Now">Enroll Now</span>
                    </a>
<!--                </div>-->


                <!-- Start Mobile-Menu-Bar -->
                <div class="mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button rbt-round-btn">
                            <i class="feather-menu"></i>
                        </button>
                    </div>
                </div>
                <!-- Start Mobile-Menu-Bar -->
            </div>
        </div>
    </div>
    <!-- Start Search Dropdown  -->
    <div class="rbt-search-dropdown">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <form method="GET" action="{% url 'search' %}">
                        <input type="text" placeholder="What are you looking for?" name="query">
                        <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                            <span class="btn-text">Search</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search Dropdown  -->
</div>
<!-- Start Side Vav -->
{% include 'partials/_mobile-category.html' %}
<!-- End Side Vav -->
<a class="rbt-close_side_menu" href="javascript:void(0);"></a>
{% endfor %}