{% load static %}
<!-- Start Header Area -->
{% for setting in settings %}
    <header class="rbt-header rbt-header-10">
        <div class="rbt-sticky-placeholder"></div>
        <!-- Start Header Top  -->
        <div class="rbt-header-top rbt-header-top-1 header-space-betwween bg-not-transparent bg-color-darker top-expended-activation">
            <div class="container-fluid">
                <div class="top-expended-wrapper">
                    <div class="top-expended-inner rbt-header-sec align-items-center ">
                        <div class="rbt-header-sec-col rbt-header-left d-none d-xl-block">
                            <div class="rbt-header-content">
                                <!-- Start Header Information List  -->
                                <div class="header-info">
                                    <ul class="rbt-information-list">
                                        <li>
                                            <a href="mailto:{{setting.email}}"><i class="feather-at-sign"></i>{{setting.email}}</a>
                                        </li>

                                        <li>
                                            <a href="tel:{{setting.phone_number}}"><i class="feather-phone"></i>{{setting.phone_number}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Header Information List  -->
                            </div>
                        </div>
                        <div class="rbt-header-sec-col rbt-header-center">
                            <div class="rbt-header-content justify-content-start justify-content-xl-center">
                                <div class="header-info">
                                    <div class="rbt-header-top-news">
                                        <div class="inner">
                                            <div class="content">
                                                <span class="rbt-badge variation-02 bg-color-primary color-white radius-round">Hot</span>
                                                <span class="news-text"><img src="{% static 'assets/images/icons/hand-emojji.svg' %}" alt="Hand Emojji Images"> {{setting.banner_message}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-header-sec-col rbt-header-right mt_md--10 mt_sm--10">
                            <div class="rbt-header-content justify-content-start justify-content-lg-end">
                                <div class="header-info d-none d-xl-block">
                                    <ul class="social-share-transparent">
                                        <li>
                                            <a href="{{setting.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{setting.x}}"><i class="feather-x"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{setting.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{setting.instagram}}"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="rbt-separator d-none d-xl-block"></div>

                                <div class="header-info">
                                    <ul class="rbt-dropdown-menu switcher-language">
                                        <li class="has-child-menu">
                                            <a href="#">
                                                <img class="left-image" src="{% static 'assets/images/icons/en-us.png' %}" alt="Language Images">
                                                <span class="menu-item">English</span>
                                                <i class="right-icon feather-chevron-down"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="header-info">
                                    <ul class="rbt-dropdown-menu currency-menu">
                                        <li class="has-child-menu">
                                            <a href="#">
                                                <span class="menu-item">USD</span>
                                                <i class="right-icon feather-chevron-down"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-info">
                        <div class="top-bar-expended d-block d-lg-none">
                            <button class="topbar-expend-button rbt-round-btn"><i class="feather-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/_navbar.html' %}
    </header>
{% endfor %}