{% extends 'base.html' %}

{% block content %}

    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    <div class="rbt-dashboard-content-wrapper">
                        <div class="tutor-bg-photo bg_image bg_image--24 height-350"></div>
                        <!-- Start Tutor Information  -->
                        <div class="rbt-tutor-information">
                            <div class="rbt-tutor-information-left">
                                <div class="thumbnail rbt-avatars size-lg">
                                    {% if user.user_image %}
                                    <img src="{{user.user_image.url}}" alt="Instructor">
                                    {% else %}
                                    <img src="/media/users/user.png" alt="Instructor">
                                    {% endif %}
                                </div>
                                <div class="tutor-content">
                                    <h5 class="title">{{user.first_name}} {{user.last_name}}</h5>
                                    <ul class="rbt-meta rbt-meta-white mt--5">
                                        <li><i class="feather-book"></i>{{my_course_count}} Course(s) Enroled</li>
                                    </ul>
                                </div>
                            </div>
                            {% if user.is_instructor == True %}
                            <div class="rbt-tutor-information-right">
                                <div class="tutor-btn">
                                    <a class="rbt-btn btn-md hover-icon-reverse" href="/admin/">
                                        <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Go to Instructors Dashboard </span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="rbt-tutor-information-right">
                                <div class="tutor-btn">
                                    <a class="rbt-btn btn-md hover-icon-reverse" href="{% url 'become-instructor' %}">
                                        <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Become an Instructor</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- End Tutor Information  -->
                    </div>
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2">Welcome, {{user.first_name}} {{ user.last_name }}</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="{% url 'dashboard' %}"><i class="feather-home"></i><span>Dashboard</span></a></li>
                                                    <li><a href="{% url 'student-details' %}"><i class="feather-user"></i><span>My Profile</span></a></li>
                                                    <li><a href="{% url 'my-courses' %}"><i class="feather-book-open"></i><span>Enrolled Courses</span></a></li>
                                                    <li><a href="{% url 'my-reviews' %}"><i class="feather-star"></i><span>Reviews</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">User</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="{% url 'profile' %}"><i class="feather-settings"></i><span>Settings</span></a></li>
                                                    <li>
                                                        <a href="javascript:{document.getElementById('logout').submit()}">
                                                            <i class="feather-log-out"></i>
                                                            <span>Logout</span>
                                                        </a>
                                                        <form action="{% url 'logout' %}" method="POST" id="logout">
                                                            {% csrf_token %}
                                                            <input type="hidden">
                                                        </form>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Start Enrole Course  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                <div class="content">
                                    {% if my_courses %}
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Enrolled Courses</h4>
                                        <h4 class="rbt-title-style-3">{% include 'partials/_alerts.html' %}</h4>
                                    </div>

                                    <div class="advance-tab-button mb--30">
                                        <ul class="nav nav-tabs tab-button-style-2 justify-content-start" id="myTab-4" role="tablist">
                                            <li role="presentation">
                                                <a href="#" class="tab-button active" id="home-tab-4" data-bs-toggle="tab" data-bs-target="#home-4" role="tab" aria-controls="home-4" aria-selected="true">
                                                    <span class="title">Enrolled Courses</span>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#" class="tab-button" id="profile-tab-4" data-bs-toggle="tab" data-bs-target="#profile-4" role="tab" aria-controls="profile-4" aria-selected="false">
                                                    <span class="title">Active Courses</span>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#" class="tab-button" id="contact-tab-4" data-bs-toggle="tab" data-bs-target="#contact-4" role="tab" aria-controls="contact-4" aria-selected="false">
                                                    <span class="title">Completed Courses</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab-4">
                                            <div class="row g-5">
                                                <!-- Start Single Course  -->
                                                {% for c in my_courses %}
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="rbt-card variation-01 rbt-hover">
                                                        <div class="rbt-card-img">
                                                            <a href="{{c.course.get_absolute_url}}">
                                                                <img src="{{c.course.featured_image.url}}" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="rbt-card-body">
                                                            <div class="rbt-card-top">
                                                                <div class="rbt-review">
                                                                    <span class="rating-count"> {{c.course.category}}</span>
                                                                </div>
                                                                <div class="rbt-bookmark-btn">
                                                                    <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                </div>
                                                            </div>
                                                            <h4 class="rbt-card-title"><a href="{{c.course.get_absolute_url}}">{{c.course.title}}</a>
                                                            </h4>
                                                            <ul class="rbt-meta">
                                                                <li><i class="feather-book"></i>{{c.course.video_set.all.count}}&nbsp; Lessons</li>
                                                                <li><i class="feather-users"></i>{{c.course.usercourse_set.all.count}}&nbsp; Student(s)</li>
                                                            </ul>

<!--                                                            <div class="rbt-progress-style-1 mb&#45;&#45;20 mt&#45;&#45;10">-->
<!--                                                                <div class="single-progress">-->
<!--                                                                    <h6 class="rbt-title-style-2 mb&#45;&#45;10">Complete</h6>-->
<!--                                                                    <div class="progress">-->
<!--                                                                        <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: {{c.progress}}%" aria-valuenow="{{c.progress}}" aria-valuemin="0" aria-valuemax="100">-->
<!--                                                                        </div>-->
<!--                                                                        <span class="rbt-title-style-2 progress-number">{{c.progress}}%</span>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <!-- End Single Course  -->
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                                            <div class="row g-5">

                                                <!-- Start Single Course  -->
                                                {% for c in active_courses %}
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="rbt-card variation-01 rbt-hover">
                                                        <div class="rbt-card-img">
                                                            <a href="{{c.course.get_absolute_url}}">
                                                                <img src="{{c.course.featured_image.url}}" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="rbt-card-body">
                                                            <div class="rbt-card-top">
                                                                <div class="rbt-review">
                                                                    <span class="rating-count"> {{c.course.category}}</span>
                                                                </div>
                                                                <div class="rbt-bookmark-btn">
                                                                    <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                </div>
                                                            </div>
                                                            <h4 class="rbt-card-title"><a href="{{c.course.get_absolute_url}}">{{c.course.title}}</a>
                                                            </h4>
                                                            <ul class="rbt-meta">
                                                                <li><i class="feather-book"></i>{{c.course.video_set.all.count}}&nbsp; Lessons</li>
                                                                <li><i class="feather-users"></i>{{c.course.usercourse_set.all.count}}&nbsp; Student(s)</li>
                                                            </ul>

                                                            <div class="rbt-progress-style-1 mb--20 mt--10">
                                                                <div class="single-progress">
                                                                    <h6 class="rbt-title-style-2 mb--10">Complete</h6>
                                                                    <div class="progress">
                                                                        <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: {{c.progress}}%" aria-valuenow="{{c.progress}}" aria-valuemin="0" aria-valuemax="100">
                                                                        </div>
                                                                        <span class="rbt-title-style-2 progress-number">{{c.progress}}%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <!-- End Single Course  -->
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact-tab-4">
                                            <div class="row g-5">
                                                <!-- Start Single Course  -->
                                                {% for c in completed_courses %}
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="rbt-card variation-01 rbt-hover">
                                                        <div class="rbt-card-img">
                                                            <a href="{{c.course.get_absolute_url}}">
                                                                <img src="{{c.course.featured_image.url}}" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="rbt-card-body">
                                                            <div class="rbt-card-top">
                                                                <div class="rbt-review">
                                                                    <span class="rating-count"> {{c.course.category}}</span>
                                                                </div>
                                                                <div class="rbt-bookmark-btn">
                                                                    <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                </div>
                                                            </div>
                                                            <h4 class="rbt-card-title"><a href="{{c.course.get_absolute_url}}">{{c.course.title}}</a>
                                                            </h4>
                                                            <ul class="rbt-meta">
                                                                <li><i class="feather-book"></i>{{c.course.video_set.all.count}}&nbsp; Lessons</li>
                                                                <li><i class="feather-users"></i>{{c.course.usercourse_set.all.count}}&nbsp; Student(s)</li>
                                                            </ul>

                                                            <div class="rbt-progress-style-1 mb--20 mt--10">
                                                                <div class="single-progress">
                                                                    <h6 class="rbt-title-style-2 mb--10">Complete</h6>
                                                                    <div class="progress">
                                                                        <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                        </div>
                                                                        <span class="rbt-title-style-2 progress-number">100%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <!-- End Single Course  -->
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <h4 class="rbt-title-style-3">You Haven't Enrolled to any Course</h4>
                                    {% endif %}

                                </div>
                            </div>
                            <!-- End Enrole Course  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>

{% endblock %}