{% extends 'base.html'%}
{% load course_tags %}
{% block content %}

     <div class="rbt-elements-area bg-color-white rbt-section-gap">
        <div class="container mb-12">
            <div class="row gx-0">
                <div class="col-md-9 col-xl-6 mx-auto">
                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                        <h3 style="color: green;">Congratulations!</h3>
                        <h5 class="title">Stripe Processed your payment Successfully...</h5>
                        <div class="form-submit-group">
                            <a href="">
                                <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Start Learning Now</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}